.icons .x-icon-el:before{
  font-size: 30px;
}
.icons .x-icon-el{
  width : 30px;
  height : 30px;
}

.grid {
  background-color:#fff;
  box-shadow  : 3px 3px 10px #ccc;

}

.border{
  padding: 0 30px;
  border-bottom: solid 1px #DEDEDE;
}
.size{
  font-size: 14px;
}

.user-details-panel {
  background-color:#fff;
  box-shadow  : 3px 3px 10px #ccc;
}
.user-details-panel{
  background-color:#fff;
  box-shadow  : 3px 3px 10px #ccc;
}
