.x-listitem-inner-el {
    padding: 5px;
}
.searchField {
  padding: 15px;
}
.container {
  position: relative;
  width : 40px;
  height: 40px;
}
#card {
  width : 35px;
  height: 35px;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.4s;
}
#card img {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

#card .back {
  height: 37px;
  transform: rotateY( 180deg );
}
#card.flipped {
  transform: rotateY( 180deg );
}
